[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Course-DevTalles-Gon/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Course-DevTalles-Gon/orders-micro-service.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Course-DevTalles-Gon/products-micro-service.git
