[submodule "client_gateway"]
	path = client_gateway
	url = https://github.com/Nest-Microservices-Course-DevTalles-Gon/client-gateway.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Course-DevTalles-Gon/client-gateway.git
